body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background: url('pool-background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(0, 0, 128, 0.8);
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 1;
}

main {
    padding: 20px;
}

ul {
    list-style-type: none;
    padding: 2;
}

li {
    margin: 10px 0;
    background-color: rgba(0, 0, 128, 0.6);
    padding: 10px;
    border-radius: 5px;
}

li a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 128, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
}
